

.jumbotron {
  background-image: linear-gradient(to right, #37dd90, #c530c5, #d8d65b);
  color: white;
  text-align: center;
  padding: 0.1em 0.1em;
  height: 5px;
  margin:0%;
}

.navigationbar 
{ align-items: center;
 margin:0%;
 background: blanchedalmond;
}

.navbrand
{
  margin-left:10px;
  margin-right:0px;
}


#searchBox{
  width:900px;
  
  margin :0px;
}

.fa-shopping-cart {
  font-size: 40px;
 
}


