

.jumbotron {
  background-image: linear-gradient(to right, #37dd90, #c530c5, #d8d65b);
  color: white;
  text-align: center;
  padding: 0.1em 0.1em;
  height: 5px;
  margin:0%;
}

.navigationbar 
{ align-items: center;
 margin:0%;
 background: blanchedalmond;
}

.navbrand
{
  margin-left:10px;
  margin-right:0px;
}


#searchBox{
  width:900px;
  
  margin :0px;
}

.fa-shopping-cart {
  font-size: 40px;
 
}

.home{
  display :flex;
}

.productContainer 
{
  display:flex;
  width: 78%;
  padding:20px;
  flex-wrap:wrap;
  justify-content: space-around;
}


.filters 
{
  background-color: burlywood;
  color:white;
  padding: 20px;
  display:flex;
  flex-direction :column;
  width: 20%;
  margin:10px;
  height:86vh;
}

.filterform {
  
  padding-bottom:35px;

}

.title
{
font-size: 34px;
padding-bottom:20px;
}

.card-img
 {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  
}

.prod-card
{
 padding:5px;
}